/02_HFSS/PCB_Ansys_2022R2.aedtresults
/02_HFSS/PCB_Ansys_2024R1.aedtresults
/02_HFSS/Stacked_Antennas_RFSoC.aedtresults
/02_HFSS/Wilkinson.aedtresults/Directional_Coupler_v1.results
/02_HFSS/Wilkinson.aedtresults
/02_HFSS/Wilkinson_Power_Divider.aedtresults
/02_HFSS/Wilkinson_Power_Divider_Wilkinson_No_Resistor_Setup2.aedtresults
/03_Altium_Antenna/History
/__Previews
/02_HFSS/Diff_Via.aedtresults
/02_HFSS/PCB_Ansys_2022R2 - EXPORTONLY.aedtresults
/03_Altium_Antenna/__Previews
/03_Altium_Antenna/Project Logs for FR1_Antenna_Array
/History
/Project Logs for rfsoc-fr1-beamformer
